@font-face {
  font-family: "Ultra-Regular";
  font-weight: 400;
  src: url("../../assets/fonts/Ultra-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  src: url("../../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  src: url("../../assets/fonts/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
