<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Smokace</title>
    <meta name="description" content="exclusive from CasinoDaddy" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />
    <meta name="theme-color" content="#4285f4" />

    <link rel="icon" href="assets/img/favicon/favicon.ico" />
    <link
      rel="icon"
      sizes="16x16"
      href="assets/img/favicon/favicon-16x16.webp"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="assets/img/favicon/favicon-32x32.webp"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="assets/img/favicon/favicon-192x192.webp"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/styles/style.min.css"
    />

    <script defer src="./assets/js/app.min.js"></script>
  </head>

  <body>
    <div class="app">
      {% include "_html/_components/_overlay.html" %}
      <div class="main">{% include "_html/_components/_content.html" %}</div>
    </div>
  </body>
</html>
